@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222;
}

.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center ;
}

.container .cigarette{
  transform-style: preserve-3d;

}

.container .cigarette span{
  position: absolute;
  color: #fff;
  font-size: 1.35em;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 0.76em;
  text-shadow: 0 2px 5px rgba(0,0,0,0.25);
  transform: translate(-50%,-50%);
}

.container .cigarette span i{
font-style: normal;
color: #ec9535;
}

.container .cigarette span i ::after{
  content: 'l';
  color: #fff;
}


