@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222;
}

.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center ;
}

.container .cigarette{
  transform-style: preserve-3d;

}

.container .cigarette span{
  position: absolute;
  color: #fff;
  font-size: 1.35em;
  font-weight: 900;
  
  transform: translate(-50%,-50%);
}
