@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222;
}

.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center ;
  transform-style: preserve-3d;
}